<% if (success && success.length) { %><div class="container"><div class="alert alert-success"><%= success[0] %></div></div><% } %>
<% if (error && error.length) { %><div class="container"><div class="alert alert-error"><%= error[0] %></div></div><% } %>
